.footer {
    height: auto;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.footerContent {
    width: 85%;
    height: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.topLeftSide {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.topLeftSide p {
    margin: 0;
}

.topLeftSide h3 {
    margin: 0;
}

.inputButton {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.inputButton input {

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 13px;
    color: grey;
    width: 300px;
}

.inputButton button {

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    font-weight: 600;
    opacity: .7;
    border-radius: 10px;
}

.topRightSide {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

}

.contactUs {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.currency {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.currency h3 {
    margin: 0;
}

.currency p {
    margin: 0;
}


.contactUs p {
    margin: 0;
}

.contactUs h3 {
    margin: 0;
}

.usdImageDiv {

    display: flex;
    align-items: center;
    gap: 10px;
}

.usdImageDiv h4 {

    margin: 0;
}

.currency p {
    font-size: 14px;
    font-weight: 300;
}

.usdImageDiv img {

    width: 20px;
    height: 20px;
    border-radius: 100%;

}

.horizontalLineFooter {
    width: 100%;
    background-color: grey;
    opacity: .7;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footerBottom {

    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottomLeft {
    width: 30%;
}

.bottomCenter {
    width: 30%;
}

.bottomRight {
    width: 43%;
}

.bottomLeftContents p {
    margin: 0;
}

.bottomLeftContents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomCenterContents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomCenterContents p {
    margin: 0;
}

.bottomCenter h3 {
    font-size: 15px;
    padding-bottom: 8px;

}

.bottomRight h3 {
    font-size: 15px;
    padding-bottom: 8px;

}

.socialMedia {
    display: flex;
    gap: 10px;
}

.social {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 5px;
}

.paymentDiv {
    margin-top: 50px;
}

.paymentMethods {
    display: flex;
    gap: 10px;
}

.paymentMethods img {
    height: 30px;
    width: 50px;
    border-radius: 2px;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.copyright p {
    font-size: 14px;
    opacity: .6;
}

.lineFooter {
    display: none;
}




@media (max-width: 768px) {

    .footer {
        height: auto;
        width: 100%;
        background-color: black;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        margin-top: 550px;
    }


    .footerContent {
        width: 85%;
        height: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 60px;
    }

    .footerTop {
        display: flex;
        gap: 100px;
        width: 100%;
        height: 50%;
    }

    .topRightSide {


        display: flex;
        flex-direction: column;

    }


    .inputButton input {

        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        outline: none;
        border: none;
        font-weight: 700;
        font-size: 13px;
        color: grey;
        width: 100px;
    }

    .inputButton button {

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        border: none;
        background: transparent;
        border: 1px solid grey;
        color: grey;
        cursor: pointer;
        font-weight: 600;
        opacity: .7;
        border-radius: 10px;
    }

    .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 150px;
    }

    .copyright p {
        font-size: 14px;
        opacity: .6;
    }

    .bottomLeft {
        width: 30%;
    }

    .bottomCenter {
        width: 30%;
    }

    .bottomRight {
        width: 42%;
    }

    .lineFooter {
        display: none;
    }


}


@media (max-width: 500px) {

    .footer {
        height: auto;
        width: 100%;
        background-color: black;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        margin-top: 1800px;
    }

    .footerContent {
        width: 90%;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .footerTop {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .footerBottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .inputButton input {

        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        outline: none;
        border: none;
        font-weight: 700;
        font-size: 13px;
        color: grey;
        width: 160px;
    }

    .inputButton button {

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        border: none;
        background: transparent;
        border: 1px solid grey;
        color: grey;
        cursor: pointer;
        font-weight: 600;
        opacity: .7;
        border-radius: 10px;
    }

    .topLeftSide {
        width: 100%;
    }

    .topRightSide {
        width: 100%;
    }

    .rightSideContent {
        width: 100%;
    }

    .contactUs {
        width: 100%;
    }

    .currency p {
        display: none;
    }

    .lineFooter {

        width: 100%;
        background-color: grey;
        opacity: .7;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;

    }

    .bottomLeft {
        width: 100%;
    }

    .bottomCenter {
        width: 100%;
    }

    .bottomRight {
        width: 100%;
    }

    .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 0;
    }

    .copyright p {
        font-size: 14px;
        opacity: .6;
    }



}